resources/logicApp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "metadata": {
        "description": "Name given to Logic App."
      }
    },
    "azureStorageAccountName": {
      "type": "string",
      "metadata": {
        "description": "The resource name for the Azure Storage Account connection"
      }
    },
    "azureStorageAccountDisplayName": {
      "type": "string",
      "metadata": {
        "description": "The display name for the Azure Storage Account connection"
      }
    },
    "azureBlogStorageContainerName": {
      "type": "string",
      "metadata": {
        "description": "The resource name for the Azure Storage Account connection"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources."
      }
    }
  },
    "functions": [],
    "variables": {},
    "resources": [
        {
            "name": "[parameters('logicAppName')]",
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "location": "[resourceGroup().location]",
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/schemas/2016-06-01/Microsoft.Logic.json",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                            "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "currentPage",
                                        "type": "Integer",
                                        "value": 0
                                    }
                                ]
                            }
                        },
                        "Until": {
                            "actions": {
                                "Create_blob": {
                                    "runAfter": {
                                        "HTTP": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "@body('HTTP')",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/default/files",
                                        "queries": {
                                            "folderPath": "/blogdemoblob",
                                            "name": "@{concat('PricePaidDatasetDump_',add(variables('currentPage'),4))}",
                                            "queryParametersSingleEncoded": true
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "HTTP": {
                                    "runAfter": {
                                        "Increment_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "method": "GET",
                                        "queries": {
                                            "_page": "@{variables('currentPage')}",
                                            "propertyAddress.postcode": "TW2 7QU"
                                        },
                                        "uri": "http://landregistry.data.gov.uk/data/ppi/transaction-record.json?"
                                    }
                                },
                                "Increment_variable": {
                                    "runAfter": {},
                                    "type": "IncrementVariable",
                                    "inputs": {
                                        "name": "currentPage",
                                        "value": 1
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@equals(variables('currentPage'), 2)",
                            "limit": {
                                "count": 60,
                                "timeout": "PT1H"
                            },
                            "type": "Until"
                        }
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                          "azureblob": {
                            "connectionId": "[concat(resourceGroup().id, '/providers/Microsoft.Web/connections/azureblob')]",
                            "connectionName": "azureblob",
                            "id": "[concat(resourceGroup().id, '/providers/Microsoft.Web/locations/',parameters('location'),'/managedApis/',parameters('azureBlogStorageContainerName'))]"
                          }
                        }
                    }
                }
            }
        },
      {
        "type": "Microsoft.Web/connections",
        "apiVersion": "2016-06-01",
        "name": "[parameters('azureStorageAccountName')]",
        "location": "[resourceGroup().location]",
        "properties": {
          "displayName": "[parameters('azureStorageAccountDisplayName')]",
          "customParameterValues": {},
          "api": {
            "id": "[concat('/subscriptions/54318e4b-c0ba-4212-b8e3-41b97d12fef4/providers/Microsoft.Web/locations/',parameters('location'),'/managedApis/', parameters('azureBlogStorageContainerName'))]"
          }
        }
      }
    ],
    "outputs": {}
}